$main-color: #0DCA78;
.nav-wrapper {
    width: 100%;
    box-shadow: 0px 1px 10px #999;
}

.brand-logo {
    display: inline-flex;
}

.right {
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .nav-item {
        //margin-right: 15px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;
            border-radius: 5px;
            transition: 0.2s ease-in;
            &:hover {
                @media (min-width: 640px) {
                    color: #fff;
                    background-color: $main-color;
                    span,
                    svg {
                        fill: #fff;
                        color: #fff;
                    }
                }
            }
            @media (max-width: 370px) {
                padding: 5px;
            }
            svg {
                margin-right: 10px;
                @media (max-width: 640px) {
                    margin-right: 0;
                }
            }
            span {
                color: rgb(38, 38, 38);
                @media (max-width: 640px) {
                    display: none;
                }
            }
        }
        .active-btn {
            color: #fff;
            background-color: $main-color;
            svg,
            span {
                fill: #fff;
                color: #fff;
            }
        }
    }
    .user_initials {
        width: 35px;
        height: 35px;
        display: flex;
        border-radius: 35px;
        background-color: #ff5555;
        color: white;
        align-items: center;
        justify-content: center;
        a {
            color: white;
        }
    }
}

.profile-link {
    padding: 5px 10px;
}

.profile-image {
    height: 100%;
    width: 35px;
    border-radius: 35px;
}